{% extends "base.html" %}

{% block title %} pyBursa - Student Details {% endblock title %}

{% block main_content %}
<h1>{{ student.name }} {{ student.surname }}</h1>

<table class="table">
  <tbody>
      <tr>
      <th>Birth Date</th>
      <td>{{ student.date_of_birth }}</td>
      </tr>
      <tr>
      <th>Address</th>
      <td>{{ student.address }}</td>
      </tr>
      <tr>
      <th>Email</th>
      <td>{{ student.email }}</td>
      </tr>
      <tr>
      <th>Skype</th>
      <td>{{ student.skype }}</td>
      </tr>
      <tr>
      <th>Phone</th>
      <td>{{ student.phone }}</td>
      </tr>
      <tr>
      <th>Courses</th>
          <td> {% for course in student.courses.all %} <a href="{% url 'courses:detail' course.id %}">{{ course  }} </a></br>
          {% endfor %} </td>
      </tr>
  </tbody>
</table>
{% endblock main_content %}