{% extends "base.html" %}


{% block title %} pyBursa - Students List {% endblock title %}


{% block nav_class_students_list %}active{% endblock %}


{% block main_content %}


{% include "inc_university_desc.html" %}


<h2>Students list:</h2>

<table class="table">
  <thead>
    <tr>
      <th scope="row">#</th>
      <th scope="col">Name and Surname</th>
      <th scope="col">Address</th>
      <th scope="col">Phone</th>
      <th scope="col">Skype</th>
      <th scope="col">Courses</th>
    </tr>
  </thead>
  
  <tbody>
  {% for student in students_list %}
    <tr>
      <td>{{ student.id }}</td>
      <td><a href="{{ student.id }}">{{ student.name }} {{ student.surname}}</a></td>
      <td>{{ student.address }}</td>
      <td>{{ student.phone }}</td>
      <td>{{ student.skype }}</td>

      <td>{% for course in student.courses.all %}<a href="{% url 'courses:detail' course.id %}"> {{ course }} </a></br> {% endfor %}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock main_content %}
