{% extends "base.html" %}


{% block title %} pyBursa - Students List {% endblock title %}


{% block nav_class_students_list %}active{% endblock %}


{% block main_content %}


{% include "inc_university_desc.html" %}



<h2>Students list:</h2>

<p></p>
<button type="button" class="btn btn-primary"><a href="add" style="color:inherit">Add student</a></button>
<p></p>
<table class="table">
  <thead>
    <tr>
      <th scope="row">#</th>
      <th scope="col">Name and Surname</th>
      <th scope="col">Address</th>
      <th scope="col">Phone</th>
      <th scope="col">Skype</th>
      <th scope="col">Courses</th>
      <th></th>
      <th></th>

    </tr>
  </thead>
  
  <tbody>
  {% for student in students_list %}
    <tr>
      <td>{{ student.id }}</td>
      <td><a href="{{ student.id }}">{{ student.name }} {{ student.surname}}</a></td>
      <td>{{ student.address }}</td>
      <td>{{ student.phone }}</td>
      <td>{{ student.skype }}</td>

      <td>{% for course in student.courses.all %}<a href="{% url 'courses:detail' course.id %}"> {{ course }} </a></br> {% endfor %}</td>

      <td><button type="button" class="btn btn-primary"><a href="edit/{{student.id}}" style="color:inherit">Edit student</a></button></td>
      <td><button type="button" class="btn btn-primary"><a href="remove/{{student.id }}" style="color:inherit">Delete student</a></button></td>
    </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock main_content %}
