{% extends "base.html" %}


{% block title %} pyBursa - Courses List {% endblock title %}


{% block nav_class_courses_list %}active{% endblock %}


{% block main_content %}


{% include "inc_university_desc.html" %}


<h2>Choose the course for yourself from the below:</h2>



<button type="button" class="btn btn-primary"><a href="add" style="color:inherit">Add a new course</a></button>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Course</th>
      <th scope="col">Description</th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
  </thead>
  <tbody>
  {% for course in all_courses_list %}
    <tr>
      <td><a href="{% url 'courses:detail' course.id %}">{{ course.name|upper }}</a></td>
      <td>{{ course.short_description|title }}</td>
        <td><button type="button" class="btn btn-primary"><a href="{{ course.id }}/add_lesson" style="color:inherit">Add a new lesson</a></button></td>>
        <td><button type="button" class="btn btn-primary"><a href="edit/{{course.id}}" style="color:inherit">Edit course</a></button></td>
        <td><button type="button" class="btn btn-primary"><a href="remove/{{course.id }}" style="color:inherit">Delete course</a></button></td>
    </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock main_content %}