{% extends "base.html" %}


{% block title %} pyBursa - Courses List {% endblock title %}


{% block nav_class_courses_list %}active{% endblock %}


{% block main_content %}


{% include "inc_university_desc.html" %}


<h2>Choose the course for yourself from the below:</h2>

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<button type="button" class="btn btn-primary"><a href="add.html" style="color:inherit">
    Add a new course</a></button>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Course</th>
      <th scope="col">Description</th>
    </tr>
  </thead>
  <tbody>
  {% for course in all_courses_list %}
    <tr>
      <td><a href="{% url 'courses:detail' course.id %}">{{ course.name|upper }}</a></td>
      <td>{{ course.short_description|title }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock main_content %}