{% extends "base.html" %}

{% block title %} pyBursa - Course Details {% endblock title %}

{% block main_content %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
<div class="jumbotron">
  <h1 class="display-4">{{ course.name }}</h1>
  <p class="lead">{{ course.description|truncatechars:32 }}</p>
</div>

<h1>Course Teachers:</h1>
    <hr>
    <div class="panel panel-default">
      <div class="panel-heading"><h2>Coach</h2></div>
      <div class="panel-body">
          {% if course.coach.id is not null %}<h3><a href="{% url 'coaches:coach_details' course.coach.id %}">{{ course.coach.user.first_name }} {{ course.coach.user.last_name }}</a></h3>
          <p>{{ course.coach.description }}</p>
          {% endif %}
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading"><h2>Assistant</h2></div>
      <div class="panel-body">
          {% if course.assistant.id is not null %}
          <h3><a href="{% url 'coaches:coach_details' course.assistant.id %}">{{ course.assistant.user.first_name }} {{ course.assistant.user.last_name }}</a></h3>
          <p>{{ course.assistant.description }}</p>
          {% endif %}
      </div>
    </div>

<h1>Course Plan:</h1>



<table class="table">
  <thead>
    <tr>
      <th scope="row">#</th>
      <th scope="col">Lesson</th>
      <th scope="col">Description</th>
        <th></th>
        <th></th>
    </tr>
  </thead>
  <tbody>
  {% for lesson in course.lesson_set.all %}
    <tr>
      <td>{{ lesson.order }}</td>
      <td>{{ lesson.subject }}</a></td>
      <td>{{ lesson.description }}</td>
        <td><button type="button" class="btn btn-primary"><a href="{{ course.id }}/edit_lesson/{{ lesson.id }}" style="color:inherit">Edit lesson</a></button></td>
        <td><button type="button" class="btn btn-primary"><a href="{{ course.id }}/remove_lesson/{{ lesson.id }}" style="color:inherit">Delete lesson</a></button></td>
    </tr>
{% endfor %}
  </tbody>
</table>	

{% endblock main_content %}