<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>{% block title %} coaches {% endblock title %}</title>
    <!-- Bootstrap -->
  <!--   {% load staticfiles %}
    <link href= -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
  </head>

<body>
    <nav class="navbar navbar-default navbar-bright">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <a class="navbar-brand home-tab menu-buttons" href="{% url 'courses:course_list' %}">Home</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="{% block nav_class_courses_list %}{% endblock %}"><a href="{% url 'courses:course_list' %}">Main<span class="sr-only menu-buttons"></span></a></li>
            <li class="{% block nav_class_contacts %}{% endblock %}">Contact<span class="sr-only menu-buttons"></span></a></li>
            <li class="{% block nav_class_students_list %}{% endblock %}"><a href="{% url 'students:student_list' %}">Students<span class="sr-only menu-buttons"></span></a></li>

        </div>
       </div>
    </nav>

    {% block main_content %}
    {% endblock main_content %}
</body>