{% extends "base.html" %}

{% block title%} pyBursa - Coach Details {% endblock title%}

{% block main_content %}
<h1>{{ coach.user.first_name }} {{ coach.user.last_name }}</h1>

<table class="table">
  <tbody>
      <tr>
      <th>Birth Date</th>
      <td>{{ coach.date_of_birth|date:"j F, Y" }}</td>
      </tr>
      <tr>
      <th>Address</th>
      <td>{{ coach.address }}</td>
      </tr>
      <tr>
      <th>Email</th>
      <td>{{ coach.user.email }}</td>
      </tr>
      <tr>
      <th>Skype</th>
      <td>{{ coach.skype }}</td>
      </tr>
      <tr>
      <th>Phone</th>
      <td>{{ coach.phone }}</td>
      </tr>
      <tr>
      <th>Courses as Coach</th>
          <td>{% for course in coach.coach_courses.all %}<a href="{% url 'courses:detail' course.id %}"> {{ course }}  </a> Students<a href="{% url 'students:student_list' %}?course_id={{ course.id }}"><span class="glyphicon glyphicon-new-window" aria-hidden="true"></span></a> <br>{% endfor %} </td>
      </tr>
      <tr>
      <th>Courses as Assistant</th>
          <td>{% for course in coach.assistant_courses.all %}<a href="{% url 'courses:detail' course.id %}"> {{ course }} </a>Students<a href="{% url 'students:student_list' %}?course_id={{ course.id }}"><span class="glyphicon glyphicon-new-window" aria-hidden="true"></span></a> <br> {% endfor %}</td>
      </tr>
  </tbody>
</table>

{% endblock main_content %}